.team {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 40px;
    justify-content: center;
}

.team::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: beige;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/989dcf82128693.5d13e09e5ce18.jpg);
    background-size: cover;
    filter: brightness(0.38);
    background-attachment: fixed;
}

.team article {
    flex-basis: 20%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
    padding: 80px 0;
}

.team article h1 {
    font-family: var(--cursive);
    font-size: 4.8rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.team article h2 {
    margin: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: var(--texto);
    letter-spacing: 2px;
}

.team article img {
    height: 260px;
    transition: all ease-in 0.2s;
}

.team article img:hover {
    transform: scale(1.1);
}

.team article p {
    font-size: 1.8rem;
    font-family: var(--texto);
    font-weight: 100;
}

@media screen and (max-width: 820px) {
    .team {
        flex-direction: column;
        padding: 60px 0;
    }

    .team article{
        padding: 20px 0;
        max-width: 340px;
        align-self: center;
        align-items: center;
    }

}