.button {
    margin-top: 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: var(--boton1);
    padding: 8px 16px;
    cursor: pointer;
    transition: all ease-in-out .3s;
    border: none;
    color: var(--texto_principal);
    font-family: var(--texto);
    text-decoration: none;
    box-shadow: 0px 8px 12px -4px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.button:hover {
    transform: scale(0.95);
}