.button {
    margin-top: 20px;
    font-family: var(--titulo);
    font-size: 2.4rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background-color: var(--boton2);
    padding: 4px 8px;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.button:hover {
    background-color: var(--boton1);
}