:root {
  --fondo_negro: #1a1a1a;
  --texto_principal: #f2f2f2;
  --boton1: #e83c3c;
  --resaltado: #ffab2e;
  --dorado: #daa520;
  --gris: #808080;
  --acento: #f5f5dc;

  --cursive: 'Great Vibes', cursive;
  --texto: 'Roboto', sans-serif;
  --titulo: 'Vina Sans', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--fondo_negro);
  color: var(--texto_principal);
}

h2 {
  margin: 40px 0;
}

.background {
  position: relative;
  height: 100vh;
}

.triangle_left {
  position: absolute;
  top: 120px;
  left: -436px;
  width: 1000px;
  height: 500px;
  transform: rotate(45deg);
  overflow: hidden;
  z-index: -10;
}

.triangle_image_container {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
}

.triangle_image {
  background-image: url("https://i.postimg.cc/Bns776F1/table2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  transform: rotate(45deg);
}

.triangle_left img {
  /* transform: rotate(-45deg);
  position: absolute;
  top: -164px;
  right: 110px;
  width: 540px;
  filter: drop-shadow(2px 4px 6px black); */
}

@media screen and (max-width: 1200px) {
  .triangle_left {
    left: -580px;
  }
}

@media screen and (max-width: 800px) {
  .triangle_left {
    top: 30px;
    left: -760px;
  }

  .triangle_left img {
    width: 316px;
    right: 90px;
    top: -100px;
  }
}