:root {
  --fondo_negro: #1a1a1a;
  --texto_principal: #f2f2f2;
  --boton1: #e83c3c;
  --resaltado: #ffab2e;
  --dorado: #daa520;
  --gris: #808080;
  --acento: #f5f5dc;
  --cards: #32322f;

  --cursive: 'Great Vibes', cursive;
  --texto: 'Roboto', sans-serif;
  --titulo: 'Vina Sans', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--fondo_negro);
  color: var(--texto_principal);
}

h2 {
  margin: 40px 0;
}

.background {
  position: relative;
  height: 100vh;
}

.manchita {
  width: 148px;
  filter: sepia(1);
}


/* evitar que la pantalla scrolle si el carro esta abierto */
.hidden-scroll {
  overflow: hidden;
}

/* Ocultar scrollbar */
.hidden-scroll body::-webkit-scrollbar {
  display: none;
}